<template>
  <div id="app" class="small-container">
    <h1>Employees</h1>

    <employee-table v-bind:employees="employees" />
  </div>
</template>

<script>
import EmployeeTable from '@/components/EmployeeTable.vue'

export default {
  name: 'app',
  components: {
    EmployeeTable,
  },
  
  data() {
    return {
      employees: [
        {
          id: 0,
          name: 'Jason Todd',
          email: 'jason.todd@batcave.com'
        },
        {
          id: 1,
          name: 'Barbara Gordon',
          email: 'barbara.gordon@batcave.com'
        },
        {
          id: 2,
          name: 'Jack Sparrow',
          email: 'jack.sparrow@pirate.com'
        },
      ]
    },
  }
}
</script>

<style>
  button {
    background: #009435;
    border: 1px solid #009435;
  }
  
  .small-container {
    max-width: 680px;
  }
</style>


